.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 50px;
  margin: 40px auto;

  p {
    max-width: 40%;
    text-align: justify;
  }
  button {
    background-color: rgb(15, 23, 47);
    color: white;
    font-family: Raleway-Semibold;
    padding: 10px 15px;
    margin-top: 30px;
    display: flex;
    border-radius: 10px;
  }
  button:is(:hover) {
    font-weight: bolder;
    animation: heartBeat;
    animation-duration: 800ms;
  }
  img {
    display: flex;
    max-width: 300px;
  }

  .caption-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}


@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding:40px;
  }

  p {
    min-width: 100%;
    font-size: 12px;
  }

  button {
    margin-top: 15px;
  }
  img {
    width: 70%;
    margin: 20px;
  }
  .caption-banner{
    min-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
    padding:20px;
  }

  p {
    min-width: 100%;
    font-size: 12px;
  }

  button {
    margin-top: 15px;
  }
  img {
    width: 0%;
  }
  .caption-banner{
    min-width: 100%;
  }
}
