.banner {
  background-color: white;
 
}

.parag {
  max-width: 30%;
  text-justify: inter-character;
  padding: 50px;
  margin: 50px;
}
.show-button {
  background-color: rgb(15, 23, 47);
  padding: 50px;
  margin: 50px;
}
