.graphic-banner-home {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  
  margin-bottom: 50px;
  img {
    border-radius: 30px;
    width: 400px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.377);
  }
}

.code-banner-home {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
 
  margin-bottom: 50px;
  img {
    display: flex;
    border-radius: 30px;
    width: 400px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.377);
  }
}

.home-banners {
  display: flex;
  gap: 220px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible; /* Permette agli elementi di non essere tagliati */
  padding-bottom: 50px; /* Aggiunge un po' di spazio in fondo per evitare tagli */
}

.c-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Raleway-Semibold;
  padding: 10px 15px;
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  right: 150px;
  top: 200px;
}

.g-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Raleway-Semibold;
  padding: 10px 15px;
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  left: 150px;
  top: 200px;
}

.c-button:hover,
.g-button:hover {
  padding: 20px;
  font-weight: bolder;
 
}
