
.home-banners{
  display: flex;
  gap: 50px;
}
.graphic-banner-home,
.code-banner-home {
  width: 600px;
  height: 600px;
  display: flex;
  position: relative;  
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
 
}

.graphic-banner-home img,
.code-banner-home img {
  border-radius: 30px; 
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.377);
  position: relative;  
  width: 600px;
  height: 600px;
 
}

.graphic-banner-home button,
.code-banner-home button {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  background-color: rgba(255, 255, 255, 0.8);  
  color: rgb(0, 0, 0);
  font-family: Raleway-Semibold;
  padding: 10px 15px;
  border-radius: 10px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.graphic-banner-home button:hover,
.code-banner-home button:hover {
  background-color: rgba(255, 255, 255, 1);  
  transform: translate(-50%, -50%) scale(1.05);  
}